/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.guid{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  border-radius: 20px;
}
.guid h2 {
  margin-left: 85px;
}

.guid .wrapper {
  max-width: 1300px;
  width: 100%;
  position: relative;
  
}
.guid .wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.guid .wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.guid .wrapper i:first-child{
  left: -22px;
}
.guid .wrapper i:last-child{
  right: -22px;
}
.guid .wrapper .carousel{
  display: grid;
  padding: 7px;
  margin: auto;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 10px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.guid .carousel::-webkit-scrollbar {
  display: none;
}
.guid.carousel.no-transition {
  scroll-behavior: auto;
}
.guid .carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.guid .carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.guid .carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guid .carousel .card {
  scroll-snap-align: start;
  height: 342px;
  width: 300px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(104, 92, 92, 0.15);
}
.guid .carousel .card .img {
  height: 100%;
  width: 100%;
  
}
.guid .card .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  border:0px solid #fff;
}

.guid .carousel .card span {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
    .guid .wrapper .carousel {
    grid-auto-columns: calc((100% / 4) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .guid .wrapper .carousel {
    grid-auto-columns: 33.33%;
  }
}